.sidebar{
    max-width: 256px;
    min-width: 256px;
    background: var(--light-white);
    padding: 16px 8px;
    border-radius: 16px;
    height: 100%;
}

.app-grid-parent > .mantine-Grid-inner{
    height: 100%;
}