.logo__link:active,
.logo__link:hover,
.logo__link {
    text-decoration: none;
}

.navbar__link:active,
.navbar__link:hover,
.navbar__link {
    text-decoration: none;
    padding: 8px 16px;
    color: var(--dark);
    font-weight: bold;
    font-size: 20px;
}
.navbar__link:hover{
    background-color: var(--light-grey);
    transition: background-color 0.7s;
}
.navbar__link.active{
    color: var(--orange);
}